@media screen and (min-width: 700px) {
    .grider {
        display: none !important;
    }
}
@media screen and (max-width: 700px) {

    table table {
        display: none;
    }

    .grider {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

 
    .grider div {
        display: flex;
        justify-content: flex-end;
        flex-wrap: wrap;
        margin: 0;
        padding: 0;
    }

    .grider div:nth-child(7n+1),
    .grider div:nth-child(7n+2)
    {
        display: none;
    }
    .old-th {
        font-size: 19px;
    }


    .grider div:nth-child(7n+1) {
        order: 1;
    }
    .grider div:nth-child(7n+2) {
        order: 2;
    }
    .grider div:nth-child(7n+3) {
        order: 3;
    }
    .grider div:nth-child(7n+4) {
        order: 4;
    }
    .grider div:nth-child(7n+5) {
        order: 5;
    }
    .grider div:nth-child(7n+6) {
        order: 6;
    }
    .grider div:nth-child(7n) {
        order: 7;
    }


    .grider time {
        width: 25%;
    }
    .grider article {
        display: flex;
        width: 75%;
    }
    .grider article .n {
        flex-grow: 0;
        flex-basis: 20%;
        text-align: center;
    }
    .grider article .s {
        flex-basis: 20%;
        flex-grow: 0;
        text-align: center;
    }
    .grider article .p {
        flex-grow: 6;
        text-align: right;
    }



    .grider {
        font-family: Garamond, sans-serif;
        font-weight: 500;
    }
    .old-th time {
        display: none;
    }
    .old-th article {
        /*background-color: red;*/
        padding-top: 20px;
        display: block;
        text-align: right;
        padding-right: 20px;
        font-size: 1.75rem;
        line-height: 3rem;
    }
    .grider time {
        color: #aaa;
        font-style: italic;
    }
    .old-td + .old-td {
        border-top: 1px solid #ddd;
        font-size: 1.2rem;
        line-height: 1.75rem;
    }
}

/* some minor tweaks */
caption {
    text-align: center;
    width: 100%;
}
form {
    min-width: 300px;
    margin: auto;
    width: 50vw;
    text-align: center;
}
body > div > table {
    width: 100%;
}
body > div > table table {
    margin: auto;
}

















/* Only as exaa
mple */



.g {
    align-items: center;
    
    
}

.nr{
    text-align: center;
}

.nr:hover, .g:hover {
    transform-origin: bottom;
    font-size:25;
    transition: all .2s ease-in-out;
    border: 2px rgb(83, 83, 55) ridge;
    color:#454d2b;
    
    
}




.p-j-angielski:hover::before{
    content:' 💂‍♂️ ';

}

.p-pr-fin-przed:hover::before  {
    content:' 📈  ';

}

.p-dok-kadr:hover::before  {
    content:'📂';
}

.p-fin-przeds-:hover::before  {
    content:'💵';
}

.p-zaj-wych-:hover::before  {
    content:'👩🏻‍🤝‍🧑🏻';
}

.p-u_hist-isp-:hover::before  {
    content:' 📜  ';
}


.p-wf:hover::before{
    content:' ⚽  ';
}

.p-r_geografia:hover::before{
    content:' 🌍  ';
}

.p-j-polski:hover::before {
    content:' 📝  ';
}

.p-religia:hover::before{
    content:' ✝  ';
}

.p-matematyka:hover::before, .p-r_matematyka:hover::before{
    content:'🧮';
}






.s:hover,.n:hover{
    transition: all .2s ease-in-out;
}
table {
    width: 1500px;
    flex-wrap: wrap;
    align-content: center;
    font-family: 'Xanh Mono';
    letter-spacing: 0px;
    border-collapse: collapse;
    
    
}
.tabela {
    background-image: url(bgi.png);
    border: 3px ridge rgb(181, 182, 144);
}
body{
    background-color: #ffffff;
}
.l {
    position: relative;
   
}


.p {
    
    background-color:#C3C3AB;
    color: rgb(30, 36, 19);
    z-index:1;
    padding:5px;
    margin:10px;
    line-height: 35px;
    transition: all .2s ease-in-out;
    color:#454d2b;
    align-content: center;
    box-shadow: #5d6445 2px 2px 2px;;
 
}

.p-j-polski {
    margin-top:25px;
}
.n {
    color:#8b9271;
    width: 100%;
    text-align: right;
  
}

.n:hover, .n:focus {
    color:#676F4C;
  
}

.s {
    color:#676F4C;
    width: 100%;
    text-align: right;
}
.s:hover, .s:focus {
    color:#8b9271;
}
a:hover{
    color:#454d2b;
}

.p:hover {
    font-size:25;
    margin:3px;
    transform:scale(1.1);
    
}
@import url('https://fonts.googleapis.com/css2?family=Xanh+Mono&display=swap');






tr {
    display:flex;
    justify-content:center;
   
}

th:nth-child(1) {
    width:10%;
 
}

th:nth-child(2) {
    width:30%;
}

th {
    width: 60%;
    background-image: linear-gradient(to right,#656D4A, #A4AC86,#656D4A );
    color:#f7f8f1;
    
}




td.nr {
    width: 10%;
    
    
    background-image: linear-gradient(to left, #A4AC86, #CDD1BF);
    color:#454d2b;
    
     
    justify-content:center;
    align-content: center;
    display: flex;
    flex-wrap: wrap;
    color:#6d7551;   
    
}

td.g {
    width: 30%;
    justify-content:center;
    display: flex;
    flex-wrap: wrap;
    color:#6d7551;   
     background-image: linear-gradient(to bottom,#CDD1BF ,#F5F4F2) ;
    
    
}

td {
    width: 60%;
 
     
}









.p-j-angielski{
    color:rgb(109, 46, 46);
}
.p-pr-fin-przed{
    color:rgb(59, 104, 59);
}
.p-wf{
    color:rgb(48, 48, 107);
}
.p-r_geografia{
    color:rgb(112, 88, 43);
}
.p-j-polski{
    color:rgb(87, 35, 87);
}
.p-religia{
    color:rgb(82, 36, 44);
}
.p-matematyka, .p-r_matematyka{
    color:rgb(92, 92, 36);
}

.p-u_hist-isp-{
    color: black;
}

.p-dok-kadr{
    color:rgb(38, 105, 107);
}

.p-fin-przeds-{
    color:rgb(121, 47, 47);
}










.p-j-angielski:hover{
    color:rgb(214, 141, 141);
    background-color: #f0e6e6;
}
.p-pr-fin-przed:hover{
    color:rgb(139, 199, 139);
    background-color: #e0ebde;
}
.p-wf:hover{
    color:rgb(132, 132, 196);
    background-color: #ebeaf1;
}
.p-r_geografia:hover{
    color:rgb(201, 175, 128);
    background-color: #eeebe6;
}
.p-j-polski:hover{
    color:rgb(182, 122, 182);
    background-color: #e3e2e4;
}
.p-religia:hover{
    color:rgb(179, 117, 128);
    background-color: #f1e7e7;
}
.p-matematyka:hover, .p-r_matematyka:hover{
    color:rgb(187, 187, 111);
    background-color: #ebebcf;
}

.p-u_hist-isp-:hover{
    color: rgb(121, 121, 121);
    background-color: #e4e4e4;
}

.p-dok-kadr:hover{
    color:rgb(38, 105, 107);
    background-color: #d7e6e0;
}

.p-fin-przeds-:hover{
    color:rgb(182, 107, 107);
    background-color: #dfdbdb;
}
