body{
    margin:0;
    padding:0;
    font-family: monospace;
    font-size: 1.2rem;
    background-color: rgb(240, 240, 240);
}



.u-nav{
    background-color: rgb(128, 38, 38);
    color:rgb(240, 240, 240);
    display: flex;
    justify-content: space-between;
    align-items: center;
    width:98vw;
    height: 10vh;
    margin-top:0;
    margin-bottom:0;
    padding-left:1vw;
    padding-right:1vw;
}

.u-nav a{
    color:rgb(240, 240, 240);
   
}

.u-nav a:hover{
    color:rgb(223, 183, 183);
    
}


.opt{
    padding-left:1vw;
    padding-right:1vw;
    line-height: 6vh;
}

.opt:hover{
    color:rgb(223, 183, 183);
    background-color: rgba(255, 146, 146, 0.082);
    line-height: 6vh;
    border-radius: 10px;
}

li {
    list-style-type: none;
    
}

ul{
    margin:0;
    padding:0;
}

a{
    text-decoration: none;
   
}



.dropdown-content li:hover{
    color:rgb(240, 240, 240);
    background-color: rgba(139, 21, 21, 0.527);
    border-radius: 10px;
   
    
     
}

.dropdown{
    position: relative;
    display: inline-block;

    
}

.dropdown-content{
    position:absolute;
    display: none;
    background-color: rgb(240, 240, 240);
    
    width:7vw;
    text-align: center;
    line-height: 3vh;
    border-radius: 12px;
    box-shadow: 3px 3px 10px rgba(104, 77, 77, 0.185);

}

.dropdown-content a{
    color:rgb(139, 21, 21);
}

.dropdown:hover .dropdown-content{
    display: block;
 
}

#search{
    border-radius: 20px;
    border:none;
    height: 3vh;
}

.logo{
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.473);
    font-weight: bold;
    font-size: 5rem;
    font-family:'Times New Roman', Times, serif;
    
   }


   @media (max-width: 1120px) {
  
    .dropdown-content{
    width:10vw;

    }
    }


   @media (max-width: 1024px) {
    .u-nav{
    justify-content: space-evenly;
    flex-direction: column;
    height: 35vh;
    }

    .dropdown-content{
    width:15vw;
    }
}

@media (max-width: 550px) {
    
    .dropdown-content{
    width:20vw;
    }
}
